In [10]:
import pandas as pd
import geopandas as gpd
import plotly.express as px
import json

In [11]:
DATA = 'out.csv'

In [12]:
df = pd.read_csv(DATA)

In [13]:
print(df)

       Unnamed: 0  AverageTemperature         name  Year            CO2  \
0               0            0.159000  Afghanistan  1950    7022.666667
1               1            0.648000  Afghanistan  1951    7633.333333
2               2            1.198000  Afghanistan  1952    7633.333333
3               3            2.097000  Afghanistan  1953    8854.666667
4               4            1.333000  Afghanistan  1954    8854.666667
...           ...                 ...          ...   ...            ...
17863       17863           21.434514     Zimbabwe  2045  961353.274200
17864       17864           21.434514     Zimbabwe  2046  961353.274200
17865       17865           21.434514     Zimbabwe  2047  961353.274200
17866       17866           21.434514     Zimbabwe  2048  961353.274200
17867       17867           21.434514     Zimbabwe  2049  961353.274200

       population   methane  gdp
0       7752117.0       NaN  NaN
1       7752117.0       NaN  NaN
2       7752117.0       NaN  NaN
3       7752117.0       NaN  NaN
4       7752117.0       NaN  NaN
...           ...       ...  ...
17863         NaN  2.815485  0.0
17864         NaN  2.815485  0.0
17865         NaN  2.815485  0.0
17866         NaN  2.815485  0.0
17867         NaN  2.815485  0.0

[17868 rows x 8 columns]

In [14]:
SHAPEFILE = 'world-countries.json'

In [16]:
gdf = gpd.read_file(SHAPEFILE)

In [17]:
print(gdf)

      id                  name  \
0    AFG           Afghanistan
1    AGO                Angola
2    ALB               Albania
3    ARE  United Arab Emirates
4    ARG             Argentina
..   ...                   ...
172  PSE             West Bank
173  YEM                 Yemen
174  ZAF          South Africa
175  ZMB                Zambia
176  ZWE              Zimbabwe

                                              geometry
0    POLYGON ((61.21082 35.65007, 62.23065 35.27066...
1    MULTIPOLYGON (((16.32653 -5.87747, 16.57318 -6...
2    POLYGON ((20.59025 41.85540, 20.46317 41.51509...
3    POLYGON ((51.57952 24.24550, 51.75744 24.29407...
4    MULTIPOLYGON (((-65.50000 -55.20000, -66.45000...
..                                                 ...
172  POLYGON ((35.54566 32.39399, 35.54525 31.78251...
173  POLYGON ((53.10857 16.65105, 52.38521 16.38241...
174  POLYGON ((31.52100 -29.25739, 31.32556 -29.401...
175  POLYGON ((32.75937 -9.23060, 33.23139 -9.67672...
176  POLYGON ((31.19141 -22.25151, 30.65986 -22.151...

[177 rows x 3 columns]

In [18]:
merged_data = gdf.merge(df, on='name')

In [19]:
print(merged_data.head())

    id         name                                           geometry  \
0  AFG  Afghanistan  POLYGON ((61.21082 35.65007, 62.23065 35.27066...
1  AFG  Afghanistan  POLYGON ((61.21082 35.65007, 62.23065 35.27066...
2  AFG  Afghanistan  POLYGON ((61.21082 35.65007, 62.23065 35.27066...
3  AFG  Afghanistan  POLYGON ((61.21082 35.65007, 62.23065 35.27066...
4  AFG  Afghanistan  POLYGON ((61.21082 35.65007, 62.23065 35.27066...

   Unnamed: 0  AverageTemperature  Year          CO2  population  methane  gdp
0           0               0.159  1950  7022.666667   7752117.0      NaN  NaN
1           1               0.648  1951  7633.333333   7752117.0      NaN  NaN
2           2               1.198  1952  7633.333333   7752117.0      NaN  NaN
3           3               2.097  1953  8854.666667   7752117.0      NaN  NaN
4           4               1.333  1954  8854.666667   7752117.0      NaN  NaN

In [20]:
gjs = merged_data.to_json()

In [21]:
json_2000 = json.loads(gjs)

In [22]:
fig2 = px.choropleth_mapbox(
    mapbox_style='open-street-map',     
    data_frame = merged_data,                  
    geojson=gdf,            
    featureidkey='properties.name',      
    locations='name',          
    color='AverageTemperature',             
    center={"lat": 51.1657, "lon": 10.4515},
    zoom=1,
    hover_data = ['CO2', 'methane','gdp'],
    animation_frame='Year',             
    animation_group='name',   
    color_continuous_scale="thermal",   
    range_color=(-50, 50),
    color_continuous_midpoint=0)

In [23]:
fig2.write_html("all_years_interactive.html", include_plotlyjs='cdn')

In [ ]:
fig2.show()