In [58]:
import pandas as pd
import geopandas as gpd
import plotly.express as px
import json

In [30]:
DATA = 'out.csv'

In [31]:
df = pd.read_csv(DATA)

In [32]:
print(df)

       Unnamed: 0          dt  AverageTemperature  \
0               0  1960-01-01              12.229
1               1  1960-02-01              17.081
2               2  1960-03-01              19.183
3               3  1960-04-01              21.587
4               4  1960-05-01              27.187
...           ...         ...                 ...
48442       48442  2013-05-01              19.059
48443       48443  2013-06-01              17.613
48444       48444  2013-07-01              17.000
48445       48445  2013-08-01              19.759
48446       48446  2013-09-01                 NaN

       AverageTemperatureUncertainty     ADMIN  decade  Year            CO2  \
0                              0.399   Algeria    1960  1960  512603.409167
1                              0.450   Algeria    1960  1960  512603.409167
2                              0.287   Algeria    1960  1960  512603.409167
3                              0.503   Algeria    1960  1960  512603.409167
4                              0.369   Algeria    1960  1960  512603.409167
...                              ...       ...     ...   ...            ...
48442                          1.022  Zimbabwe    2010  2013  961353.274167
48443                          0.473  Zimbabwe    2010  2013  961353.274167
48444                          0.453  Zimbabwe    2010  2013  961353.274167
48445                          0.717  Zimbabwe    2010  2013  961353.274167
48446                            NaN  Zimbabwe    2010  2013  961353.274167

       population   methane           gdp
0        11057864       NaN  2.269661e+08
1        11057864       NaN  2.269661e+08
2        11057864       NaN  2.269661e+08
3        11057864       NaN  2.269661e+08
4        11057864       NaN  2.269661e+08
...           ...       ...           ...
48442    12697728  3.114167  1.590918e+09
48443    12697728  3.114167  1.590918e+09
48444    12697728  3.114167  1.590918e+09
48445    12697728  3.114167  1.590918e+09
48446    12697728  3.114167  1.590918e+09

[48447 rows x 11 columns]

In [22]:
SHAPEFILE = 'ne_110m_admin_0_countries.shp'

In [24]:
gdf = gpd.read_file(SHAPEFILE)

In [29]:
print(gdf)

          featurecla  scalerank  LABELRANK                   SOVEREIGNT  \
0    Admin-0 country          1          6                         Fiji
1    Admin-0 country          1          3  United Republic of Tanzania
2    Admin-0 country          1          7               Western Sahara
3    Admin-0 country          1          2                       Canada
4    Admin-0 country          1          2     United States of America
..               ...        ...        ...                          ...
172  Admin-0 country          1          5           Republic of Serbia
173  Admin-0 country          1          6                   Montenegro
174  Admin-0 country          1          6                       Kosovo
175  Admin-0 country          1          5          Trinidad and Tobago
176  Admin-0 country          1          3                  South Sudan

    SOV_A3  ADM0_DIF  LEVEL               TYPE TLC  \
0      FJI         0      2  Sovereign country   1
1      TZA         0      2  Sovereign country   1
2      SAH         0      2      Indeterminate   1
3      CAN         0      2  Sovereign country   1
4      US1         1      2            Country   1
..     ...       ...    ...                ...  ..
172    SRB         0      2  Sovereign country   1
173    MNE         0      2  Sovereign country   1
174    KOS         0      2           Disputed   1
175    TTO         0      2  Sovereign country   1
176    SDS         0      2  Sovereign country   1

                           ADMIN  ...        FCLASS_TR     FCLASS_ID  \
0                           Fiji  ...             None          None
1    United Republic of Tanzania  ...             None          None
2                 Western Sahara  ...     Unrecognized  Unrecognized
3                         Canada  ...             None          None
4       United States of America  ...             None          None
..                           ...  ...              ...           ...
172           Republic of Serbia  ...             None          None
173                   Montenegro  ...             None          None
174                       Kosovo  ...  Admin-0 country  Unrecognized
175          Trinidad and Tobago  ...             None          None
176                  South Sudan  ...             None          None

           FCLASS_PL     FCLASS_GR        FCLASS_IT        FCLASS_NL  \
0               None          None             None             None
1               None          None             None             None
2       Unrecognized          None             None     Unrecognized
3               None          None             None             None
4               None          None             None             None
..               ...           ...              ...              ...
172             None          None             None             None
173             None          None             None             None
174  Admin-0 country  Unrecognized  Admin-0 country  Admin-0 country
175             None          None             None             None
176             None          None             None             None

           FCLASS_SE        FCLASS_BD     FCLASS_UA  \
0               None             None          None
1               None             None          None
2               None             None          None
3               None             None          None
4               None             None          None
..               ...              ...           ...
172             None             None          None
173             None             None          None
174  Admin-0 country  Admin-0 country  Unrecognized
175             None             None          None
176             None             None          None

                                              geometry
0    MULTIPOLYGON (((180.00000 -16.06713, 180.00000...
1    POLYGON ((33.90371 -0.95000, 34.07262 -1.05982...
2    POLYGON ((-8.66559 27.65643, -8.66512 27.58948...
3    MULTIPOLYGON (((-122.84000 49.00000, -122.9742...
4    MULTIPOLYGON (((-122.84000 49.00000, -120.0000...
..                                                 ...
172  POLYGON ((18.82982 45.90887, 18.82984 45.90888...
173  POLYGON ((20.07070 42.58863, 19.80161 42.50009...
174  POLYGON ((20.59025 41.85541, 20.52295 42.21787...
175  POLYGON ((-61.68000 10.76000, -61.10500 10.890...
176  POLYGON ((30.83385 3.50917, 29.95350 4.17370, ...

[177 rows x 169 columns]

In [33]:
merged_data = gdf.merge(df, on='ADMIN')

In [44]:
print(merged_data.head())

        featurecla  scalerank  LABELRANK SOVEREIGNT SOV_A3  ADM0_DIF  LEVEL  \
0  Admin-0 country          1          6       Fiji    FJI         0      2
1  Admin-0 country          1          6       Fiji    FJI         0      2
2  Admin-0 country          1          6       Fiji    FJI         0      2
3  Admin-0 country          1          6       Fiji    FJI         0      2
4  Admin-0 country          1          6       Fiji    FJI         0      2

                TYPE TLC ADMIN  ... Unnamed: 0          dt AverageTemperature  \
0  Sovereign country   1  Fiji  ...      12756  1960-01-01             26.404
1  Sovereign country   1  Fiji  ...      12757  1960-02-01             26.518
2  Sovereign country   1  Fiji  ...      12758  1960-03-01             26.625
3  Sovereign country   1  Fiji  ...      12759  1960-04-01             25.826
4  Sovereign country   1  Fiji  ...      12760  1960-05-01             25.225

  AverageTemperatureUncertainty  decade  Year           CO2  population  \
0                         0.238    1960  1960  16182.666667      393480
1                         0.239    1960  1960  16182.666667      393480
2                         0.270    1960  1960  16182.666667      393480
3                         0.227    1960  1960  16182.666667      393480
4                         0.328    1960  1960  16182.666667      393480

  methane           gdp
0     NaN  9.360702e+06
1     NaN  9.360702e+06
2     NaN  9.360702e+06
3     NaN  9.360702e+06
4     NaN  9.360702e+06

[5 rows x 179 columns]

In [61]:
gjs = merged_data.to_json()

In [62]:
json_2000 = json.loads(gjs)

In [68]:
fig2 = px.choropleth_mapbox(
    mapbox_style='open-street-map',      # see other styles: https://plotly.com/python/mapbox-layers/
    data_frame = merged_data,                  # dataframe that contains all years
    geojson=json_2000,                   # we can still use the JSON data from 2000, assuming the countries are the same over time
    featureidkey='properties.ADMIN',      # name of JSON key within the "properties" value that contains country names
    locations='ADMIN',                    # name of the dataframe column that contains country names
    color='AverageTemperature',                       # name of the dataframe column that contains numerical data you want to display
    center={"lat": 51.1657, "lon": 10.4515},
    zoom=1,
    animation_frame='Year',             # name of dataframe column that you want to make frames of
    animation_group='ADMIN',   
    color_continuous_scale="thermal",    # see other options: https://plotly.com/python/builtin-colorscales/
    range_color=(-50, 50),
    color_continuous_midpoint=0)

ValueError: Value of 'animation_group' is not the name of a column in 'data_frame'. Expected one of ['featurecla', 'scalerank', 'LABELRANK', 'SOVEREIGNT', 'SOV_A3', 'ADM0_DIF', 'LEVEL', 'TYPE', 'TLC', 'ADMIN', 'ADM0_A3', 'GEOU_DIF', 'GEOUNIT', 'GU_A3', 'SU_DIF', 'SUBUNIT', 'SU_A3', 'BRK_DIFF', 'NAME', 'NAME_LONG', 'BRK_A3', 'BRK_NAME', 'BRK_GROUP', 'ABBREV', 'POSTAL', 'FORMAL_EN', 'FORMAL_FR', 'NAME_CIAWF', 'NOTE_ADM0', 'NOTE_BRK', 'NAME_SORT', 'NAME_ALT', 'MAPCOLOR7', 'MAPCOLOR8', 'MAPCOLOR9', 'MAPCOLOR13', 'POP_EST', 'POP_RANK', 'POP_YEAR', 'GDP_MD', 'GDP_YEAR', 'ECONOMY', 'INCOME_GRP', 'FIPS_10', 'ISO_A2', 'ISO_A2_EH', 'ISO_A3', 'ISO_A3_EH', 'ISO_N3', 'ISO_N3_EH', 'UN_A3', 'WB_A2', 'WB_A3', 'WOE_ID', 'WOE_ID_EH', 'WOE_NOTE', 'ADM0_ISO', 'ADM0_DIFF', 'ADM0_TLC', 'ADM0_A3_US', 'ADM0_A3_FR', 'ADM0_A3_RU', 'ADM0_A3_ES', 'ADM0_A3_CN', 'ADM0_A3_TW', 'ADM0_A3_IN', 'ADM0_A3_NP', 'ADM0_A3_PK', 'ADM0_A3_DE', 'ADM0_A3_GB', 'ADM0_A3_BR', 'ADM0_A3_IL', 'ADM0_A3_PS', 'ADM0_A3_SA', 'ADM0_A3_EG', 'ADM0_A3_MA', 'ADM0_A3_PT', 'ADM0_A3_AR', 'ADM0_A3_JP', 'ADM0_A3_KO', 'ADM0_A3_VN', 'ADM0_A3_TR', 'ADM0_A3_ID', 'ADM0_A3_PL', 'ADM0_A3_GR', 'ADM0_A3_IT', 'ADM0_A3_NL', 'ADM0_A3_SE', 'ADM0_A3_BD', 'ADM0_A3_UA', 'ADM0_A3_UN', 'ADM0_A3_WB', 'CONTINENT', 'REGION_UN', 'SUBREGION', 'REGION_WB', 'NAME_LEN', 'LONG_LEN', 'ABBREV_LEN', 'TINY', 'HOMEPART', 'MIN_ZOOM', 'MIN_LABEL', 'MAX_LABEL', 'LABEL_X', 'LABEL_Y', 'NE_ID', 'WIKIDATAID', 'NAME_AR', 'NAME_BN', 'NAME_DE', 'NAME_EN', 'NAME_ES', 'NAME_FA', 'NAME_FR', 'NAME_EL', 'NAME_HE', 'NAME_HI', 'NAME_HU', 'NAME_ID', 'NAME_IT', 'NAME_JA', 'NAME_KO', 'NAME_NL', 'NAME_PL', 'NAME_PT', 'NAME_RU', 'NAME_SV', 'NAME_TR', 'NAME_UK', 'NAME_UR', 'NAME_VI', 'NAME_ZH', 'NAME_ZHT', 'FCLASS_ISO', 'TLC_DIFF', 'FCLASS_TLC', 'FCLASS_US', 'FCLASS_FR', 'FCLASS_RU', 'FCLASS_ES', 'FCLASS_CN', 'FCLASS_TW', 'FCLASS_IN', 'FCLASS_NP', 'FCLASS_PK', 'FCLASS_DE', 'FCLASS_GB', 'FCLASS_BR', 'FCLASS_IL', 'FCLASS_PS', 'FCLASS_SA', 'FCLASS_EG', 'FCLASS_MA', 'FCLASS_PT', 'FCLASS_AR', 'FCLASS_JP', 'FCLASS_KO', 'FCLASS_VN', 'FCLASS_TR', 'FCLASS_ID', 'FCLASS_PL', 'FCLASS_GR', 'FCLASS_IT', 'FCLASS_NL', 'FCLASS_SE', 'FCLASS_BD', 'FCLASS_UA', 'geometry', 'Unnamed: 0', 'dt', 'AverageTemperature', 'AverageTemperatureUncertainty', 'decade', 'Year', 'CO2', 'population', 'methane', 'gdp'] but received: country

In [ ]:
fig2.write_html("all_years_interactive.html", include_plotlyjs='cdn')

In [ ]:
fig2.show()